body, body * {
    padding: 0;
    margin: 0;
    list-style: none;
}

* {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

@font-face {
    font-family: Akademische schmalfette; /* Имя шрифта */
    src: url("../fonts/Akademischeschmalfette.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: "Noto Sans"; /* Имя шрифта */
    src: url("../fonts/NotoSans.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: "AireExterior"; /* Имя шрифта */
    src: url("../fonts/AireExterior.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: "PTSans"; /* Имя шрифта */
    src: url("../fonts/PTSans.ttf"); /* Путь к файлу со шрифтом */
}

#headerimg {
    position: relative;
}

#headerimg__img {
    width: 100%;
    display: block;
    transition: all 7s;

}

#headerimg__body {
    position: absolute;
    background-color: rgba(50, 50, 50, 0.5);
    box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.5);
    width: 80%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    padding: 15px 20px;
    opacity: 0;
    transition: opacity 5s;
    border-radius: 5px;
}

.headerimg__text {
    text-align: center;
    font-family: "Akademische schmalfette";
    font-size: 30px;
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
}

#navbar {
    position: sticky;
    top: -100%;
    z-index: 3;
    background-color: #ff0000;
    transition: top 0.5s;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.navbar__row {
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
}

.navbar__logo {
    height: 50px;
}
.navbar__logo img {
    display: block;
    max-height: 100%;
}

.navbar__body{
    flex: 0 0 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__body *{
    color:#ffffff;
    font-size: 20px;
    font-family: AireExterior;

}
.navbar__links{
    display: flex;
}
.navbar__link{
    position: relative;
    padding:10px;
    cursor: pointer;
}
.navbar__link:hover>.dropdown{
    display: block;
}
.dropdown{
    position: absolute;
    top:100%;
    left: 0;
    background-color: red;
    padding:15px;
    width: 120%;
    display: none;
}
.dropdown.active{
    display: block;
}
.dropdown>a{
    display: block;
    margin: 10px 0 0 0;
}
.navbar__user-links{

}
.user-links{
    height: 100%;
}
.user-links__user{
    position: relative;
    padding:10px;
}
.navbar__auth-links{

}
.auth-links{
    display: flex;
    justify-content: space-around;
}
.auth-links__link{
    display: block;
    padding: 10px;
    background-color: white;
    color:red;
    margin : 0 10px;
    border: 2px solid #b80000;
    transition: background-color 0.2s;
    border-radius: 4px;
}
.auth-links__link:hover{
    background-color: rgba(58, 199, 84, 0.8);
    color:white;
}
.container {
    max-width: 90%;
    margin: 0 auto;
}

#main-section {
}

.main-section__body {
    padding: 10px;
    display: flex;
}

#category-info {
    margin: 10px;
}

.category-info__body {
    background: rgba(0, 0, 0, 0.5);
}

.category-info__title {

}

.category-info__text {

}

#categorylist {

}

.categorylist__row {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.item {
    flex: 0 0 49%;
    padding: 10px;
}

.item__body {
    height: 100%;
    box-shadow: 2px 2px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__logo {
    flex: 1 1 100%;
    width: 100%;
    overflow: hidden;
}

.item__logo:hover > img {
    transform: scale(1.2);
}

.item__logo > img {
    transition: 0.6s;
    display: block;
    width: 100%;
    height: 100%;
}

.item__title {
    font-family: "Noto Sans";
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

.item__count {
    font-size: 20px;
    text-align: center;
    position: relative;
    padding: 10px;
}

.item__count-prom {
    position: absolute;
    top: 100%;
    left: -90px;
    color: white;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-family: "Noto Sans";
    display: none;
    z-index: 2;
}

.item__count:hover > .item__count-prom {
    display: block;
}

@media (max-width: 768px) {
    .item {
        flex: 0 0 100%;
    }
}

/* ПУБЛИКАЦИИ */

#publications {

}

.publications__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.publications__body {
    padding: 15px;
}

.publications__p-item {
    flex: 0 1 32%;
    margin: 0 0 30px 0;
    -webkit-box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 0px 0px 0px 10px #FF0000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 0px 0px 0px 10px #FF0000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    background: #FFFFFF;
}

.p-item__logo {
    width: 100%;
    height: 250px;

}

.p-item__logo > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.p-item__body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-item__body > * {
    margin: 0 0 10px 0;
}

.p-item__created {
}

.p-item__user {
    text-align: center;
    border-bottom: 2px solid white;
    transition: all 0.4s;
}

.p-item__user:hover {
    border-bottom: 2px solid red;
}

.p-item__title {
    font-family: "Akademische schmalfette";
    font-size: 18px;
}

.p-item__button {
    display: block;
    background: #FF0000;
    color: #fff;
    padding: 15px;
    width: 70%;
    font-size: 25px;
    text-align: center;
    font-family: AireExterior;
    border: 3px solid red;
    transition: background-color 0.3s;
}

.p-item__button:hover {
    background-color: white;
    color: red;
}
#publications-pagination{

}
.pagination{

}
.pagination__body{
    margin:0 auto;
}
.pagination__row{
    display: flex;
    justify-content: center;
}
.pagination__item{
    background-color: red;
    color: white;
    padding:10px;
    margin: 0 10px;
    display: block;
    font-size: 20px;
    border: 1px dashed;
    border-radius: 1px;
    font-family: "Akademische schmalfette";
}
.pagination__item.active{
    background-color: white;
    color: red;
}

/* ФОРМА ПУБЛИКАЦИИ */


/* ОТВЕТ ПУБЛИКАЦИЯ  */
#answer {

}

.answer__row {
    display: flex;
    align-items: center;
    padding: 15px;
}

.answer__logo {
    flex: 0 0 15%;
}

.answer__logo > img {
    max-width: 100%;
}

.answer__body {
    flex: 0 0 85%;
}

.answer__title {
    text-align: center;
    font-size: 30px;
    font-family: AireExterior;
}
.answer__bold{
    display: inline;
    color:black;
    font-weight: bolder;
    text-decoration: none;
}
.answer__text {
    text-align: center;
    font-size: 23px;
    font-family: PTSans;
}

.answer__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.answer__publication {
    flex: 1 1 35%;
}

.answer__photo{
    width: 100%;
    box-shadow: 1px 1px 5px ;
    border-radius: 10px;
}
.answer__photo>img{
    max-width: 100%;
}
.answer__a-links {
    flex: 1 1 65%;
}

.a-links__body {
    text-align: center;
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    flex-direction: column;
}

.a-links__link {
    font-family: PTSans;
    font-size: 20px;
    display: block;
    padding:15px;
    background-color: red;
    color: white;
    margin:20px 0;
}

/* ФОРМА ПУБЛИКАЦИИ */

.auth{
    font-family:"Noto Sans";
    font-weight: bold;
    position: relative;
}
.auth__container{
    width: 60%;
    margin:0 auto;
}
.auth__title{
    text-align: center;
    font-weight: bold;
    font-size:29px;
    padding:10px 0;
}
.auth__row{
    display: flex;
    background-color: #f5f5f5;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    border-right: 20px ridge rgba(58, 199, 84, 0.8);
    border-radius: 0px 19px 17px 0px;
}
.auth__body{
    padding:15px;
}
#register__form{

}
.form__item{
    padding:0 0 10px 0;
}
.form__subtitle{
    font-size: 22px;
}
.form__input{
    margin: 10px 0 0 0;
}
.form__input>input{
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
    padding:5px;
}

.form__input.valid>input{
    box-shadow: 1px 1px 5px 2px green;
}
.form__input.invalid>input{
    box-shadow: 1px 1px 5px 2px red;
}
#password__reliability-text{
    display: inline;
    font-family: "Akademische schmalfette";
    font-size: 25px;
    text-shadow: 0 0 2px black;
}
#password__reliability-text.low{
    color: #ffbf00;
}
#password__reliability-text.medium{
    color: #aeff6a;
}
#password__reliability-text.high{
    color: #00ff00;
}
#form__age{
    width: 50%;
}
.form__button{
    text-align: center;
    margin: 10px 0 0 0;
}
.form__button>input{
    font-family: "Comic Sans MS";
    font-weight: bold;
    border: none;
    padding:7px;
    width: 50%;
    background-color: lime;
    border:1px solid;
}

.form__errors{
    margin: 10px 0 0 0;
    background-color: #ff4747;
    border-radius: 7px;
    color:white;
    text-align: center;
}
.errors__list{
    padding:15px;

}
.errors_item{

}
#password__show{
    margin: 15px 0;
}
.form__options{

}
.form__option{
    font-size: 19px;
}
.form__option>input{

}
.remember-me{

}
.remember-me__body{
    display: flex;
    align-items: center;
}
.remember-me__text{
    margin-right: 10px;
}
.remember-me__input


/*Форма публикации*/
.publication-add{

}
.publication-add__container{
    width: 60%;
    margin:0 auto;
}
.publication-add__row{
    padding:15px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 20px ridge rgba(58, 199, 84, 0.8);
    border-radius: 0px 19px 17px 0px;
}
.publication-add__row > *{
    font-family: "Noto Sans";
    font-weight: bold;
}
.publication-add__title{
    text-align: center;
    margin: 10px 0;
    font-size: 28px;
}
.publication-add__body{
    padding: 15px;
}
#publication-add__form{

}
#form__description{
    width: 100%;
    resize: none;
    transition: all 0.3s;
    font-size: 19px;
    font-family: AireExterior;
    padding:10px;
}
#form__description:focus{
    height: 200px;
}

.file{

}
.file__container{
    position: relative;
    margin:10px 0 0 0;
    display: inline-flex;
}
#file__input{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    font-size: 0;
    top:0;
    left: 0;
    cursor: pointer;

}
.file__button{
    background-color: #00cb00;
    padding:10px;
    font-size: 22px;
    color:white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.file__button>img{
    display: block;
    height: 40px;
}
.file__preview{

}
.preview{

}
.preview__body{
    width: 90%;
    margin:20px 0 0 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
    padding:20px;
}
.preview__body>img{
    display: block;
    width: 100%;
}

@media (max-width: 768px) {
    .publication-add__container,.register__container{
        width: 80%;
    }

}
.curtain:after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5) url("../img/load.gif") center no-repeat;
}


#pub-detail{
    position: relative;
}
.pub-detail__container{
    margin:20px auto;
    max-width: 94%;
}
.pub-detail__body{
    padding:10px;
}
.pub-detail__row{
    display: flex;
    align-items: start;
    flex-wrap: wrap-reverse;
}
.pub-detail__first-column{
    flex : 1 1 20%;
}
.pub-detail__second-column{
    flex:1 1 80%;
}
@media (max-width: 768px) {
    .pub-detail__first-column{
        flex : 1 1 100%;
    }
    .pub-detail__second-column{
        flex:1 1 100%;
    }
}
.pub-detail__user-inf,.publication,.pub-detail__other-categories{
    margin: 10px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px #8a8a8a;
    padding:5px;
}
.pub-detail__user-inf{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pub-detail__user-photo{
    margin: 0 auto;
    height: 200px;
}
.pub-detail__user-photo>img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.pub-detail__user-nickname{
    font-family: AireExterior;
    text-align: center;
    font-size: 24px;
    margin:5px 0 20px 0;
    transition: color 0.3s ;
}
.pub-detail__user-nickname:hover{
    color: #696969;
}
.pub-detail__other-categories{

}
.other-categories{

}
.other-categories>*{
    font-family: "Noto Sans";
    font-weight: bold;
}
.other-categories__title{
    display: block;
    font-size: 20px;
    text-align: center;
}
.other-categories__body{
    padding:15px;
    position: relative;
    min-height: 200px;
}

.other-categories__item{
    display: block;
    margin: 0 5px;
    padding: 5px;
    transition: background-color 0.2s;
}
.other-categories__item:hover{
    background-color: #ffffff;
}
.publication{

}
.publication__body{
    padding: 20px;
}
.publication__title{

}
.publication__modal{
    display: none;
}
.publication__modal.active{
    display: block;
}
#modal{

}

.modal__body{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 1;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal__row{
    position: relative;
    height: 100%;
}
.modal__img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.modal__img>img{
    display: block;
    max-height: 90%;
    max-width: 90%;
}
.modal__cross{
    font-size: 60px;
    position: absolute;
    top:50px;
    right: 50px;
    cursor: pointer;
}
.publication__img{
    display: flex;
    justify-content: center;
    max-height: 500px;
    position: relative;
}
.publication__img>img{
    display: block;
    max-height: 450px;
    max-width: 100%;
}
.publication__image:hover+.publication__fullscreen{
    opacity: 0.5;
}
.publication__fullscreen:hover{
    opacity: 1;
}
.publication__fullscreen{
    padding: 10px;
    position: absolute;
    background-color: gainsboro;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    cursor: pointer;
    border-radius: 5px;
}
.publication__fullscreen>svg{
    height: 50px;
    width: 50px;
}
.publication__data-item{
    margin: 15px 0;
    font-family: "Noto Sans";
    font-size: 15px;
    font-weight: 600;
    color: #4a4a4a;

}

#footer{

}
.footer__body{
    background-color: red;
    text-align: center;
    padding: 10px 0;
}
.footer__row{

}
.footer__text{
    color:#ffffff;
    font-size: 17px;
    font-family: AireExterior;
    user-select: none;
}

.subtitle{
    font-size: 20px;
    font-family: "Noto Sans";
    font-weight: bold;
}