body,body *{
    padding: 0;
    margin: 0;
}
*{
    text-decoration: none;
    color:black;
    box-sizing: border-box;
}

@font-face {
    font-family: Akademische schmalfette; /* Имя шрифта */
    src: url("../fonts/Akademischeschmalfette.ttf"); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "Noto Sans"; /* Имя шрифта */
    src: url("../fonts/NotoSans.ttf"); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "AireExterior"; /* Имя шрифта */
    src: url("../fonts/AireExterior.ttf"); /* Путь к файлу со шрифтом */
}

#headerimg{
    position: relative;
}
#headerimg__img{
    width: 100%;
    display: block;
    transition: all 7s;

}
#headerimg__body{
    position: absolute;
    background-color: rgba(50,50,50,0.5);
    box-shadow: 2px 2px 10px rgba(50,50,50,0.5);
    width: 80%;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    padding:15px 20px;
    opacity: 0;
    transition: opacity 5s;
    border-radius:5px;
}

.headerimg__text{
    text-align: center;
    font-family: "Akademische schmalfette";
    font-size: 30px;
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
}

#navbar{
    position: sticky;
    top:-100%;
    z-index: 1;
    background-color: #000;
    transition: top 0.5s;
}
.navbar__row{
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
}
.navbar__logo{
    height: 50px;
}
.navbar__logo:hover{

}
.navbar__logo img{
    display: block;
    max-height: 100%;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

#main-section{
}
.main-section__body{
    padding:10px;
    display: flex;
}
#category-info{
    margin:10px;
}
.category-info__body{
    background: rgba(0,0,0,0.5);
}
.category-info__title{

}
.category-info__text{

}
.categorylist{

}
.categorylist__row{
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
.item{
    flex:0 0 49%;
    padding: 10px;
}
.item__body{
    height: 100%;
    box-shadow: 2px 2px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item__logo{
    flex:1 1 100%;
    width: 100%;
    overflow: hidden;
}
.item__logo:hover>img{
    transform: scale(1.2);
}
.item__logo>img{
    transition: 0.6s;
    display: block;
    width: 100%;
    height: 100%;
}
.item__title{
    font-family: "Noto Sans";
    font-weight: bold;
    text-align: center;
    padding:10px 0;
}
.item__count{
    font-size: 20px;
    text-align: center;
    position: relative;
    padding:10px;
}
.item__count-prom{
    position: absolute;
    top:100%;
    left:-90px;
    color:white;
    width: 200px;
    background-color: rgba(0, 0, 0,0.5);
    padding: 10px;
    font-family: "Noto Sans";
    display: none;
    z-index: 2;
}
.item__count:hover>.item__count-prom{
    display: block;
}
@media (max-width: 768px) {
    .item{
        flex:0 0 100%;
    }
}

/* ПУБЛИКАЦИИ */

.publications{

}
.publications__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.publications__body{
    padding:15px;
}
.publications__p-item{
    flex: 0 1 32%;
    margin: 0 0 30px 0;
    -webkit-box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 0px 0px 0px 10px #FF0000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 0px 0px 0px 10px #FF0000, 5px 5px 15px 5px rgba(0,0,0,0);
    background: #FFFFFF;
}
.p-item__logo{
    width: 100%;
    height: 250px;

}
.p-item__logo>img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.p-item__body{
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-item__body>*{
    margin:0 0 10px 0;
}
.p-item__created{
}
.p-item__user{
    text-align: center;
}
.p-item__title{
    font-family: "Akademische schmalfette";
    font-size: 18px;
}
.p-item__button{
    display: block;
    background: #FF0000;
    color:#fff;
    padding:15px;
    width: 70%;
    font-size: 25px;
    text-align: center;
    font-family:AireExterior;
}

