<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <title>Title</title>
</head>
<body>
<div class="categorylist">
    {% for i in categories %}
    <a href="/categories/{{ i.id }}" class="categorylist__item">
        <div class="item__body">
            <div class="item__logo">
                <img src="/media{{ i.photo }}" alt="">
            </div>
            <div class="item__title">{{ i.categoryname }}</div>
        </div>
    </a>
    {% endfor %}
</div>
</body>
</html>